body {
    background-color: rgba(0, 0, 0, 0);
}

#promotedQuestion {
    display: none;
    font-size: 32px;
    font-family: Roboto, serif;
}

#promotedQuestion .img-column {
    margin-right: -48px;
    float: left;
}

#promotedQuestion .text-column {
    background-color: rgba(128, 128, 128, 0.5);
    padding: 8px 8px 8px 56px;
    margin-left: 48px;
    min-height: 64px;
    border-radius: 8px;
}

#promotedQuestion img {
    z-index: 100;
    height: 96px;
    width: 96px;
    border-radius: 50%;
    background-color: white;
    padding: 3px;
}

#promotedQuestion .username {
    font-weight: bold;
    color: white;
}

#promotedQuestion .text {
    color: white;
}