h3 {
    margin-top: 1rem;
}

.question img {
    height: 64px;
    width: 64px;
    border-radius: 50%;
    float: left;
    margin-right: 0.75rem;
    background-color: rgba(211, 211, 211, 0.5);
    padding: 2px;
}

.question .username {
    font-style: italic;
    font-weight: bold;
}

.question .actions {
    float: right;
}

.question .actions i {
    margin: 8px;
}

#promotedQuestion .question {
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.75);
}